.list{
    height: 25vh;
    display: flex;
    overflow-x: scroll;
}

.detail-image {
   height: 35rem;
    /* width: 22rem; */
}

.each-charachter {
 position: absolute;
 left: 50%;
 top: 70%;
 transform: translate(-50%,-50%);
}

#new-charachter {
position: absolute;
 left: 50%;
 top: 120%;
 transform: translate(-50%,-50%); 
 width: 22rem;;
 display: flex;
 flex-direction: column;
}